@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

li {
  list-style: none;
  margin-bottom: 20px;
}

.character--title {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

a {
 margin-right: 10px;
 text-decoration: none;
}

.pagination {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.character-info {
  text-align: center;
}

.logo {
  text-align: center;
}

.character--image {
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .logo img {
    width: 100%;
  }
}